# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives
- Python
- Data Science
- Jupyter

Some of the popular languages that Data Scientists use are:  
    Python  
    R  
    SQL

Some of the commonly used libraries used by Data Scientists include:  
$\;\;\;\;\;\;$ Pandas  
$\;\;\;\;\;\;$    Numpy  
$\;\;\;\;\;\;$    MatPlotLib

| Data Science Tools|
|------|
|   SAS  |
|   Apache  |
|   Matlab  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [8]:
minutes =200
hours=200/60
# This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

## Author
Victor